.GameModeContainer{
  width: 40%;
  margin: auto;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 3px solid; */
}
.played {
  width: 60%;
}

.Choosengame{
  /* border: 3px solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Choosengame h1{
  margin-bottom: 4rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
}

.GMpapercharacter{
  /* border: 3px solid; */
	background-image: radial-gradient( rgb(72, 101, 244), rgb(86, 113, 245));
	border-radius: 50%;
  position: static;
	padding: 2.5rem;
}
.GMpaper{
	background-color: white;
	/* border: 3px solid; */
	border-radius: 50%;
	padding: 3.5rem
}

.GMscissorscharacter{
  /* border: 3px solid; */
	background-image: radial-gradient(rgb(236, 158, 14), rgb(236, 169, 34));
	border-radius: 50%;
  position: static;
	padding: 2.5rem;
}
.GMscissors{
	background-color: white;
	border-radius: 50%;
	padding: 3.5rem;
}

.GMrockcharacter{
  /* border: 3px solid; */
	background-image: radial-gradient(rgb(220, 46, 78), rgb(221, 64, 93));
	border-radius: 50%;
  position: static;
	padding: 2.5rem;
}
.GMrock{
	background-color: white;
	border-radius: 50%;
	padding: 3.5rem;
}

.gameplayed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  /* border: 3px solid; */
  width: 30%
}
.gameplayed h1{
  color: white;
  margin-bottom: 5%;
  font-size: 4rem;
  letter-spacing: 2px;
}
.gameplayed button{
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: rgb(59, 67, 99);
}
.gameplayed button:hover{
  color: red;
}

.housePicked{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 3px solid; */
}
.housePicked h1{
  margin-bottom: 4rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
}

.GMcircle{
  border-radius: 50%;
  background-color: rgb(51, 47, 65);
  padding: 7.5rem;
  position: relative;
  top: 1rem
}

@media screen and (max-width: 470px) {
  .GameModeContainer{
    width: 90%;
    margin-top: 5%;
  }
  .Choosengame{
    flex-direction: column-reverse;
    width: 50%;
  }
  .Choosengame h1{
    margin-top: 2rem;
    font-size: 1.1rem;
  }
  .GMpapercharacter{
    padding: 1rem;
  }
  .GMpaper{
    padding: 2rem;
  }
  .GMrockcharacter{
    padding: 1rem;
  }
  .GMrock{
    padding: 2rem;
  }
  .GMscissorscharacter{
    padding: 1rem;
  }
  .GMscissors{
    padding: 2rem;
  }
  .GMcircle{
    padding: 4rem;
    top: 1rem;
    margin-bottom: 2rem;
  }
  .gameplayed{
    position: absolute;
    width: 60%;
    top: 70%;
    left: 20%
  }
  .gameplayed h1{
    font-size: 3rem;
  }
  .housePicked{
    flex-direction: column-reverse;
    width: 50%;
  }
  .housePicked h1{
    font-size: 1.1rem;
    margin-top: 2rem;
  }
  
}