.HeaderContainer{
    width: 50%;
    border: 3px solid rgb(96, 110, 133);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    padding: 1.5rem;
    border-radius: 10px;
}
.logoImage{
    width: 100%
}
.generalscoreContainer{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.scoreContainer{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
}
.scoreTitle{
    color: rgb(42, 70, 192);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
.scoreValue{
    color: rgb(59, 67, 99);
    font-size: 4rem;
    margin-bottom: 0;
}

@media screen and (max-width: 470px) {
    .HeaderContainer{
        width: 90%;
        flex-direction: column;
    }
    .logoImage{
        width: 80%;
    }
    .generalscoreContainer{
        width: 100%;
        /* border: 3px solid; */
        margin-top: 1rem;
    }
    .scoreContainer{
        padding: .5rem 1rem;
        width: 40%
    }
    .scoreTitle{
        text-align: center;
    }
    .scoreValue{
        font-size: 3rem;
    }
}